$gap: 1rem;

.films-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap;
}

.films-container img{
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.films-container h4{
    text-align: center;
}

main{
    grid-template-columns: 1fr;
}

.overview{
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: $gap;
    align-items: center;
}